---
layout: base
---

<div class="home">


  <!-- <div class="gradient-to-white"></div> -->
  <div class="front-page-container">
    {% assign pages = site.pages %}

    {%- for page in site.pages -%}
    {%- if page.title and page.title == "Home" -%}
    {{page.content}}
    
    <div class="front-cover" style="background-image: url({{ page.cover }})" ></div>
    {%- endif -%}
    {%- endfor -%}

    <h2>Coming Events</h2>
    {% assign sorted_events = site.events | sort: 'start' %}
    <ul>
      {%- for event in sorted_events -%}
      {%- if event.show_on_frontpage -%}
      <li><a href="{{ event.link }}" target="_blank">{{ event.start }}, {{ event.starthour }} at {{ event.venue }}</a>
      </li>
      {%- endif -%}
    {%- endfor -%}
    </ul>


    <h2>News</h2>
    {% assign sorted_news = site.news | sort: 'start' | reverse %}
    <ul>
      {%- for new in sorted_news -%}
      <li>{{ new.content }}</li>
    {%- endfor -%}
    </ul>





  </div>

</div>