---
layout: base
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2>Coming Events</h2>
  {% assign sorted_events = site.events | sort: 'start' | reverse %}
  <ul>
    {%- for event in sorted_events -%}
    {%- if event.show_on_frontpage -%}
    <li><a href="{{ event.link }}" target="_blank">{{ event.start }} {{ event.start_hour}} {{ event.venue }}</a>
    </li>
    {%- endif -%}
  </ul>
  {%- endfor -%}


  <h2>News</h2>
  {% assign sorted_news = site.news | sort: 'start' | reverse %}
  <ul>
    {%- for new in sorted_news -%}
    <li>{{ new.content }}
    </li>
  </ul>
  {%- endfor -%}






  {% assign news = site.news %}
  {% assign events = site.events %}



  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% assign sorted = site.events | sort: 'start' | reverse %}

    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      {%- if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page
          }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
      <li>
        <div class="current-page">{{ paginator.page }}</div>
      </li>
      {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
    </ul>
  </div>
  {%- endif %}

  {%- endif -%}

</div>